body {
  background-color: grey;
  padding: 0px;
  margin: 0px;
}

#interface #linkHomePage {
  grid-column: 4/5;
  grid-row: 3/4;
  font-size: 80%;
  display: block;
}

#content {
  font-size: 14pt;
  box-sizing: border-box;
  width: 100vw;
  margin: auto;
  margin-top: none;
  height: calc(100vh - 200px);
  overflow-y: scroll;
  background-color: black;
  color: white;
  padding: 10px;
}

#content.lightMode {
  background-color: #b0d0d3;
  color: black;
}

#interface {
  height: 200px;
  width: 100vw;
  color: black;
  box-sizing: border-box;
  font-size: 10pt;
  background-color: #84bf24;
  display: grid;
  grid-template-columns: 130px 200px 1fr 150px;
  grid-template-rows: repeat(3, 1fr);
  padding: 10px;
  column-gap: 5px;
  font-weight: bolder;
}

#interface #btnRegenerate,
#btnPrepend,
#btnAppend,
#btnToggleFormat,
#btnToggleTheme {
  font-size: 12pt;
}

#interface #btnRegenerate {
  grid-column: 1 /2;
  grid-row: 1 / 2;
}

#interface #btnAppend {
  grid-column: 1 /2;
  grid-row: 2 / 3;
}

#interface #btnPrepend {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#interface #btnToggleFormat {
  grid-column: 4/5;
  grid-row: 1/2;
}

#interface #btnToggleTheme {
  grid-column: 4/5;
  grid-row: 2/3;
}

#interface #lblGenerationMode,
#lblBlockCount {
  font-size: 12pt;
  align-items: center;
  justify-items: center;
  display: flex;
  text-transform: uppercase;
}

#interface #lblGenerationMode {
  grid-column: 2/3;
  grid-row: 1/2;
}

#interface #selGenerationMode {
  grid-column: 2/3;
  grid-row: 2/3;
}

#interface #selGenerationSubMode {
  grid-column: 2/3;
  grid-row: 3/4;
}

#interface #selGenerationSubMode {
  grid-column: 2/3;
  grid-row: 3/4;
}

#interface #generationSettings {
  grid-column: 3 /4;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: hsl(7, 91%, 50%) 3px solid;
  border-radius: 6px;
}

#interface .genSettingInput {
  width: 300px;
  height: 30%;
  display: none;
  flex-direction: row;
  align-items: center;
}

#interface .genSettingInput>label {
  width: 66%;
  height: 60%;
  font-size: 1.25em;
}

#interface .genSettingInput>input {
  width: 33%;
  height: 60%;
  font-size: 1.25em;
  box-sizing: border-box;
  padding: 3px;
}

#interface #generationSettings>h2 {
  width: 300px;
  font-size: 16pt;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Generation Settings UI */
#interface[data-gen-mode="normal"][data-gen-sub-mode="paragraphs"] :is(.paraCount, .paraMinLen, .paraMaxLen, .senMinLen, .senMaxLen) {
  display: flex;
}

#interface[data-gen-mode="normal"][data-gen-sub-mode="sentences"] :is(.senCount, .senMinLen, .senMaxLen) {
  display: flex;
}

:is(#interface[data-gen-mode="list"][data-gen-sub-mode="ol-p"],
  #interface[data-gen-mode="list"][data-gen-sub-mode="ul-p"]) :is(.senMinLen, .senMaxLen, .paraMinLen, .paraMaxLen, .itemCount) {
  display: flex;
}

:is(#interface[data-gen-mode="list"][data-gen-sub-mode="ol-s"],
  #interface[data-gen-mode="list"][data-gen-sub-mode="ul-s"]) :is(.senMinLen, .senMaxLen, .itemCount) {
  display: flex;
}

#interface[data-gen-mode="header"] :is(.headerLevel, .senMinLen, .senMaxLen) {
  display: flex;
}

#interface[data-gen-mode="table"] :is(.senMinLen,
  .senMaxLen,
  .paraMinLen,
  .paraMaxLen,
  .tblRowCount,
  .tblColumnCount,
  .tblHeadersOn,
  .tableHeadersEnabled) {
  display: flex;
}

#interface[data-gen-mode="image"] :is(.imgWidth, .imgHeight) {
  display: flex;
}

#interface[data-gen-mode="image"][data-gen-sub-mode="image-set"] .imgCount {
  display: flex;
}

.center {
  text-align: center;
}

#interface button {
  background-color: white;
  border: white solid 5px;
  margin: 5px;
  box-sizing: border-box;
}

#interface button:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.hidden {
  display: none;
}

#content table,
th,
tr,
td {
  border: 4px white solid;
  border-collapse: collapse;
}

#content.lightMode :is(table, th, tr, td) {
  border: 4px black solid;
  border-collapse: collapse;
}

#content .image-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#content .image-container img {
  margin: 20px;
}

@media (max-width: 1600px) {
  #content {
    height: calc(100vh - 300px);
  }

  #interface {
    height: 300px;
  }

  #interface .genSettingInput {
    width: 300px;
    height: 15%;
  }
}

@media (max-width: 1200px) {
  #content {
    font-size: 12pt;
    width: 100vw;
    margin: auto;
    margin-top: none;
    height: calc(100vh - 350px);
  }

  #interface {
    height: 350px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 160px 1fr 150px;
  }

  #interface #generationSettings {
    grid-row: 1/7;
    grid-column: 2/3;
  }

  #interface :is(#btnToggleFormat, #btnToggleTheme) {
    grid-column: 3/4;
  }

  #interface .genSettingInput {
    width: 300px;
    height: 12%;
  }

  #interface #btnRegenerate {
    grid-column: 1 /2;
    grid-row: 4 / 5;
  }

  #interface #btnAppend {
    grid-column: 1 /2;
    grid-row: 5 / 6;
  }

  #interface #btnPrepend {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  #interface #lblGenerationMode {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
  }

  #interface #selGenerationMode {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #interface #selGenerationSubMode {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

@media (max-width: 650px) {
  #interface {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  #content {
    height: auto;
    min-height: 75vh;
  }
}