.ml-sel-parent:not(:has(:checked))~.ml-sel-collapse {
    display: none;
}

.ml-sel-collapse>option {
    display: none;
}

/* .ml-sel-collapse[data-filter-value="$value"]>option[data-filter-value="$value"] */
.ml-sel-collapse[data-filter-value="GenModes"]>option[data-filter-value="GenModes"] {
    display: unset;
}

.ml-sel-collapse[data-filter-value="normal"]>option[data-filter-value="normal"] {
    display: unset;
}

.ml-sel-collapse[data-filter-value="list"]>option[data-filter-value="list"] {
    display: unset;
}

.ml-sel-collapse[data-filter-value="table"]>option[data-filter-value="table"] {
    display: unset;
}

.ml-sel-collapse[data-filter-value="header"]>option[data-filter-value="header"] {
    display: unset;
}

.ml-sel-collapse[data-filter-value="image"]>option[data-filter-value="image"] {
    display: unset;
}